.message {
    position: sticky;
    top: 0;
    margin: 0 auto;
    max-width: 3050px;
    background-color: #f4eeef;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    gap: 1.5rem;
    color: red;
    font-family: "Open Sans", sans-serif !important;
    font-size: 123.5%;
}

.forgot {
    text-decoration: none;
    font-size: 0.875em;
}

#login-div {
    display: flex;
    justify-content: flex-end;
}

#login-button {
    width: 70px;
}

.no-account {
    font-size: 0.875em;
}

.create-account {
    text-decoration: none;
}